.navbar-item {
  position: relative;
  overflow: hidden;
  transition: color ease 200ms;
}

.navbar-item {
  @apply .text-gray-900 .mx-6 .font-sans .h-16 .flex .items-center;
}

.navbar-item a:hover,
.navbar-item button:hover {
  @apply .text-red-600;
}

.slide {
  position: absolute;
  width: 100%;
  height: 2px;
  left: -100%;
  margin-left: 200%;
  bottom: 0;
  transition: left 200ms linear, margin-left 200ms ease-out;
  @apply bg-red-600;
}

.navbar-item a:hover ~ .slide {
  left: 0;
  margin-left: 0;
  transition: left 200ms ease-out;
}

@responsive {
  .logo-md {
    width: 147px;
  }
  .logo-sm {
    width: 94px;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
